.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 1em 0;
  box-shadow: 0 0.5em 0.5em var(--shadow-color);
}

.logo {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #aaa;
}
